   /* Additional styles for animations */
   body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 2rem;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s ease-in-out both;
}

h1 {
    font-size: 3rem;
    color: #333;
    margin-top: 1rem;
    animation: slideInDown 1s ease-in-out both;
}

p {
    font-size: 1.2rem;
    color: #666;
    margin-top: 1rem;
    margin-bottom: 2rem;
    animation: slideInUp 1s ease-in-out both;
}

.link-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.link {
    display: inline-block;
    color: #0056b3;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    transition: transform 0.3s, color 0.3s, background-color 0.3s;
    margin: 0 1rem;
    position: relative;
    overflow: hidden;
}

.link::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: #003d73;
    border-radius: 50%;
    transition: all 0.3s ease;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.link:hover::before {
    width: 0;
    height: 0;
}

.link span {
    position: relative;
    z-index: 2;
}

.link:hover {
    transform: translateY(-3px);
    color: #fff;
    background-color: #003d73;
}

.btn-about {
    animation-delay: 0.2s;
}

.btn-resume {
    animation-delay: 0.4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInDown {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}